[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	push = +force group Device Maintainers - OnePlus 3
	pushMerge = group Device Maintainers - OnePlus 3
	label-Code-Review = -2..+2 group Device Maintainers - OnePlus 3
	label-Verified = -1..+1 group Device Maintainers - OnePlus 3
	rebase = group Device Maintainers - OnePlus 3
	submit = group Device Maintainers - OnePlus 3
	exclusiveGroupPermissions = push
